<h3><i class="iconfont icon-bianji"></i> 使用方法：</h3>

<h4>1、head引入css文件</h4>
<pre class="brush:html">
&lt;link rel="stylesheet" href="css/style.css"/&gt;
</pre>


<h4>2、body引入部分</h4>
<pre class="brush:html">
&lt;div class="container" id="container"&gt;
	&lt;div class="music"&gt;
		&lt;div class="photo"&gt;
			&lt;div class="photo_pic" id="photo_pic"&gt;&lt;div class="cd"&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="choose" style="display: none"&gt;
				&lt;div class="choose_obj choose_like" &gt;
					&lt;div class="icon" id="icon1"&gt;
						&#xe607;
					&lt;/div&gt;

				&lt;/div&gt;
				&lt;div class="choose_obj choose_share"&gt;
					&lt;div class="icon" id="icon2"&gt;
						&#xe675;
					&lt;/div&gt;

				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class="progress"&gt;

			&lt;div class="progress_obj clear"&gt;
				&lt;time class=""&gt;00:00&lt;/time&gt;
				&lt;div class="progress_bar" id="progress_bar" style=""&gt;&lt;div class="progress_cube" id="progress_cube"&gt;&lt;/div&gt;&lt;/div&gt;
				&lt;time class=""&gt;00:00&lt;/time&gt;
			&lt;/div&gt;
			&lt;div class="progress_obj clear"&gt;
				&lt;div class="ctrl_btn"&gt;
					&lt;div id="prev_btn" class="prev_btn btn"&gt;&#xe60d;&lt;/div&gt;
					&lt;div id="play_btn" class="play_btn btn"&gt;&#xe60e;&lt;/div&gt;
					&lt;div id="next_btn" class="next_btn btn"&gt;&#xe60b;&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class="ctrl_info"&gt;
					&lt;div class="vol"&gt;&#xe979;&lt;div class="vol_bar" id="vol_bar"&gt;&lt;div class="vol_cube" id="vol_cube"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
					&lt;div class="list" id="list"&gt;&#xe908;&lt;div id="list_con"&gt;&lt;p&gt;fffffffff&lt;/p&gt;&lt;p&gt;fffffffff&lt;/p&gt;&lt;p&gt;fffffffff&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;
				&lt;/div&gt;
				&lt;audio src="music/m.mp3"&gt;&lt;/audio&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="lyric"&gt;
		&lt;div class="lyric_tit" id="lyric_tit"&gt;&lt;/div&gt;
		&lt;div class="lyric_con" id="lyric_con"&gt;&lt;div id="lyric_txt"&gt;&lt;/div&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;script src="js/index.js"&gt;&lt;/script&gt;
</pre>